<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LMS Activation Email</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
      body {
        margin: 0;
        padding: 0;
        min-width: 100%;
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        background-color: #fafafa;
        color: #222222;
      }
      a {
        color: #0000;
      }
    </style>
  </head>
  <body>
    <div class="email-wrapper">
      <div class="class-header">
        <h1>Welcome to LMS</h1>
      </div>
      <div class="email-body">
        <p>Hello <%= user.name %></p>
        <h2><% activationCode %></h2>
      </div>
      <div class="email-footer">
        <p>If you have any question, please don't hesitate to contact us at</p>
      </div>
    </div>
  </body>
</html>
